.benefit {
    width: 100%;
    height: auto;
    padding-top: 96px;
}

.benefit .center {
    margin: 0 auto;
    width: 89%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.benefit .center img {
    margin-bottom: 90px;
    width: 1280px;
    height: 84px;
}

.benefit .center h2 {
    color: #282938;
    font-family: Poppins;
    margin-bottom: 48px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}

.benefit .center .three {
    display: flex;
    flex-flow: row wrap;
    column-gap: 32px;
    width: 1280px;
}

.benefit .center .three .first {
    width: 405px;
    height: 316px;
    background-color: #F4F6FC;
    padding: 48px 32px 48px 48px;
}

.benefit .center .three h6 {
    color: #282938;
    font-family: Poppins;
    font-size: 24px;
    margin-top: 26px;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.benefit .center .three p {
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    opacity: 0.7;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.benefit .center .three .second {
    width: 405px;
    height: 316px;
    background-color: #F4F6FC;
    padding: 48px 32px 48px 48px;
}

.benefit .center .three .third {
    width: 405px;
    height: 316px;
    background-color: #F4F6FC;
    padding: 48px 32px 48px 48px;
}

.best {
    width: 100%;
    height: auto;
    margin-top: 128px;
    margin-bottom: 128px;
}

.best .center {
    margin: 0 auto;
    width: 89%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 80px;

}

.best .center .left {
    width: 620px;
    display: flex;
    flex-flow: column wrap;

}

.best .center .left span {
    margin-top: 41px;
    margin-bottom: 16px;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    opacity: 0.87;

}

.best .center .left h3 {
    color: #232536;
    font-family: Poppins;
    font-size: 38px;
    width: 624px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;

}

.best .center .left p {
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    opacity: 0.6;
    font-weight: 400;
    line-height: 28px;

}

.best .center .right {
    width: 575px;
    height: 398px;

}

.best .center .right img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 20px;

}

.free {
    width: 100%;
    height: auto;
    background-color: #F4F6FC;
}

.free .center {
    width: 89%;
    margin: 0 auto;
    height: auto;
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 80px;

}

.free .center .left {
    width: 570px;
    height: 398px;

}

.free .center .left img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 20px;

}

.free .center .right {
    width: 624px;
    height: 260px;
    margin-top: 69px;

}

.free .center .right span {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    opacity: 0.87;
    margin-bottom: 16px;

}

.free .center .right h3 {
    color: #232536;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 56px;

}

.free .center .right p {
    color: #232536;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.6;
}

.free2 {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.free2 .center {
    width: 89%;
    margin: 0 auto;
    height: auto;
    justify-content: center;
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 80px;

}

.free2 .center .left {
    width: 575px;
    height: 398px;

}

.free2 .center .left img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 20px;

}

.free2 .center .right {
    width: 624px;
    height: 260px;
    margin-top: 69px;

}

.free2 .center .right span {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    opacity: 0.87;
    margin-bottom: 16px;

}

.free2 .center .right h3 {
    color: #232536;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 16px;
    line-height: 56px;

}

.free2 .center .right p {
    color: #232536;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.6;
}

.free3 {
    width: 100%;
    height: auto;
    background: rgba(252, 217, 128, 0.10);
}

.free3 .center {
    width: 89%;
    margin: 0 auto;
    height: auto;
    justify-content: center;
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 80px;

}

.free3 .center .left {
    width: 575px;
    height: 398px;

}

.free3 .center .left img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 20px;

}

.free3 .center .right {
    width: 624px;
    height: 260px;
    margin-top: 69px;

}

.free3 .center .right span {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    opacity: 0.87;
    margin-bottom: 16px;

}

.free3 .center .right h3 {
    color: #232536;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 16px;
    line-height: 56px;

}

.free3 .center .right p {
    color: #232536;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.6;
}